* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 16px;
    background-color: #f4f4f4;
    width: 580px;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    min-height: 500px;
}


h1 {
    color: white;
    font-size: 45px;
    text-shadow: 3px 3px 0px #000;
    -webkit-text-stroke: 2px #000;
    margin: 10px;
}

h1:hover {
    transform: translateY(-3px);
    text-shadow: 3px 6px 0px #000;
}

.container {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    box-shadow: 6px 6px 0px #000;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 90%;
    justify-content: space-between;
}

.container:hover {
    transform: translateY(-3px);
    box-shadow: 6px 9px 0px #000;

    .message {
        box-shadow: 3px 6px 0px #555;
    }

    #inputContainer input {
        box-shadow: 3px 6px 0px #555;
    }

    #inputContainer button {
        box-shadow: 3px 6px 0px #555;
    }

    #inputContainer button:hover {
        transform: translateY(-2px);
        box-shadow: 3px 8px 0px #555;
    }

    #inputContainer button:active {
        transform: translateY(+2px);
        box-shadow: 3px 4px 0px #555;
    }

    #clearBtn {
        box-shadow: 3px 6px 0px #555;
    }

    #clearBtn:hover {
        transform: translateY(-1px);
        box-shadow: 3px 7px 0px #555;
    }

    #clearBtn:active {
        transform: translateY(+2px);
        box-shadow: 3px 4px 0px #555;
    }

    #messages {
        box-shadow: 3px 6px 0px #555;
    }
}

#clearBtn {
    align-self: flex-end;
    padding: 5px 15px;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    box-shadow: 3px 3px 0px #555;
    cursor: pointer;
}

#messages {
    flex: 1;
    overflow-y: auto;
    padding: 5px 10px;
    border: 2px solid #000;
    box-shadow: 3px 3px 0px #555;
    display: flex;
    flex-direction: column;

}

.message {
    display: inline-block;
    max-width: 90%;
    padding: 8px 12px;
    border: 2px solid #000;
    margin-bottom: 20px;
    box-shadow: 3px 3px 0px #555;

}

.user {
    align-self: flex-end;
    margin-left: auto;
    background: #000;
    color: #fff;
}

.assistant {
    align-self: flex-start;
    background: #fff;
    color: #000;
}

#inputContainer {
    display: flex;
    gap: 10px;

}

#inputContainer input {
    flex: 1;
    padding: 10px;
    border: 2px solid #000;
    box-shadow: 3px 3px 0px #555;
    outline: none;

}

#inputContainer button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: 2px solid #000;
    box-shadow: 3px 3px 0px #555;
    cursor: pointer;
}